@define-color bg_color #2A2E33;
@define-color bg_colorT #24272C;
@define-color bg_blu #1E2935;
@define-color selButTop #575F6B;
@define-color selButBottom #393E46;
@define-color selNBButBottom #2A2E33;
@define-color inactiveButTop #414750;
@define-color inactiveButBottom #343940;
@define-color buttontext #D5D9E9;
@define-color regtext #A7ABB2;
@define-color textselback #586F96;
@define-color boxselback #515865;
@define-color backgreyb #32373D;
@define-color backgreyd #232930;
@define-color stext #A1A1A1;

.background {
	background-image: linear-gradient(to bottom , @selNBButBottom 10%, @backgreyb);
    color: @regtext;
	caret-color: @buttontext;  
	letter-spacing: 1px;
    font: 25px "Arial";
}

tooltip {
  color: white;
  border-radius: 2px;
  border: 1px solid white;
}
      
#yad-dialog-window {
	background-image: linear-gradient(to top , @selNBButBottom 15%, @backgreyd);
}

filechooserbutton label {
   min-width: 350px;
}

#yad-form-entry {
    background-color: #2A2E33;
    border: 2px solid #4B5466;
    color: @regtext;
    padding-left:10px;
}

#yad-form-entry selection {
    color: white;
    background-color: @textselback;
}

#yad-form-entry:hover {
    background-color: #2A2E33;
    border: 2px solid #7D8594;
}

#yad-form-entry:focus {
    background-color: #2A2E33;
    border: 2px solid #7D8594;
}

#yad-form-entry:active {
    background-color: #2A2E33;
    border: 2px solid #7D8594;
}

notebook tab {
    padding-left:1px;
    padding-right:1px;
    padding-top: 12px;
	padding-bottom: 9px;
}

notebook tab label {
    padding-left:10px;
    padding-right:10px;
	min-width: 350px;
	background-image: linear-gradient(to bottom, @backgreyb 95%, @selButTop 5%);
}

notebook tab:hover label{
	color: #FFFFFF;
	background-image: linear-gradient(to bottom, @boxselback 95%, @selButTop 5%);
}

notebook tab:checked label {
	color: white;
	background-image: linear-gradient(to bottom, @selButTop, @selNBButBottom 95%);
}

#yad-dialog-label {
	color: white;
	padding-bottom: 18px;
}

#yad-form-separator {
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, #4B5466, @backgreyd 100%);
	border-image-slice: 1;

    padding-top: 10px;
    margin-bottom: 10px;

    margin-left: 10px;
    margin-right: 10px;
}

#yad-form-check {
    padding-left:10px;
    margin-top: -5px;
	margin-bottom: -5px;
}

#yad-form-check label {
    margin-left:-21px;
}

#yad-form-flabel {
    margin-left:-30px;
/*    padding-left: 19px; */
}

check { 
  -gtk-icon-source: -gtk-scaled(url("/dev/shm/stl-steam-unchecked.png"));
	min-height: 30px;
	min-width: 30px;
}

check:checked,
check:hover,
check:checked:selected { 
	-gtk-icon-source: -gtk-scaled(url("/dev/shm/stl-steam-checked.png"));
}

button:active,
button:hover,
button:focus {
	background-image: linear-gradient(to bottom, @selButTop, @selButBottom 70%);
}

label {
    padding-top: 8px;
	padding-bottom: 8px;
    margin-top: -13px;
	margin-bottom: -13px;
}

button {
	font: 24px "Arial";
	color: @buttontext;
	padding: 0px;
    min-height: 20px;
    min-width: 10px;
    padding-left:5px;
    padding-right:5px;

	background-image: linear-gradient(to bottom, @inactiveButTop, @inactiveButBottom 70%);
}
