@define-color bg_color #2A2E33;
@define-color selButTL #545C68;
@define-color selButBR #393E46;
@define-color inButTL #414750;
@define-color inButBR #343940;
@define-color buttontext #D5D9E9;
@define-color regtext #A7ABB2;

.background {
    background-color: @bg_color;
    color: @regtext;
    font: 28px "Arial";
}

button:active,
button:hover,
button:focus {
	background-image: linear-gradient(to bottom right, @selButTL, @selButBR 80%);
}

button {
	font: 24px "Arial";
	color: @buttontext;
    min-height: 49px;
    min-width: 90px;
	background-image: linear-gradient(to bottom right, @inButTL, @inButBR 80%);
}
