[Desktop Entry]
Name=Steam Tinker Launch (Settings)
Comment=stl Settings menu
Categories=Game;
Exec=stl settings
Icon=steamtinkerlaunch
Terminal=false
Type=Application
